@font-face {
    font-family: 'Proxima Nova';
    src: url('j1575984078818_ProximaNova-BoldIt.eot');
    src: url('j1575984078818_ProximaNova-BoldIt.eot%3F') format('embedded-opentype'),
        url('j1575984078818_ProximaNova-BoldIt.woff2') format('woff2'),
        url('j1575984078818_ProximaNova-BoldIt.woff') format('woff'),
        url('j1575984078818_ProximaNova-BoldIt.ttf') format('truetype'),
        url('j1575984078818_ProximaNova-BoldIt.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('j1575984078818_ProximaNova-Regular.eot');
    src: url('j1575984078818_ProximaNova-Regular.eot%3F') format('embedded-opentype'),
        url('j1575984078818_ProximaNova-Regular.woff2') format('woff2'),
        url('j1575984078818_ProximaNova-Regular.woff') format('woff'),
        url('j1575984078818_ProximaNova-Regular.ttf') format('truetype'),
        url('j1575984078818_ProximaNova-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('j1575984078818_ProximaNovaT-Thin.eot');
    src: url('j1575984078818_ProximaNovaT-Thin.eot%3F') format('embedded-opentype'),
        url('j1575984078818_ProximaNovaT-Thin.woff2') format('woff2'),
        url('j1575984078818_ProximaNovaT-Thin.woff') format('woff'),
        url('j1575984078818_ProximaNovaT-Thin.ttf') format('truetype'),
        url('j1575984078818_ProximaNovaT-Thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('j1575984078818_ProximaNova-RegularIt.eot');
    src: url('j1575984078818_ProximaNova-RegularIt.eot%3F') format('embedded-opentype'),
        url('j1575984078818_ProximaNova-RegularIt.woff2') format('woff2'),
        url('j1575984078818_ProximaNova-RegularIt.woff') format('woff'),
        url('j1575984078818_ProximaNova-RegularIt.ttf') format('truetype'),
        url('j1575984078818_ProximaNova-RegularIt.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('j1575984078818_ProximaNova-ThinIt.eot');
    src: url('j1575984078818_ProximaNova-ThinIt.eot%3F') format('embedded-opentype'),
        url('j1575984078818_ProximaNova-ThinIt.woff2') format('woff2'),
        url('j1575984078818_ProximaNova-ThinIt.woff') format('woff'),
        url('j1575984078818_ProximaNova-ThinIt.ttf') format('truetype'),
        url('j1575984078818_ProximaNova-ThinIt.svg') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('j1575984078818_ProximaNova-Bold.eot');
    src: url('j1575984078818_ProximaNova-Bold.eot%3F') format('embedded-opentype'),
        url('j1575984078818_ProximaNova-Bold.woff2') format('woff2'),
        url('j1575984078818_ProximaNova-Bold.woff') format('woff'),
        url('j1575984078818_ProximaNova-Bold.ttf') format('truetype'),
        url('j1575984078818_ProximaNova-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eina 04';
    src: url('j1575984078818_Eina04-SemiBold.eot');
    src: url('j1575984078818_Eina04-SemiBold.eot%3F') format('embedded-opentype'),
        url('j1575984078818_Eina04-SemiBold.woff2') format('woff2'),
        url('j1575984078818_Eina04-SemiBold.woff') format('woff'),
        url('j1575984078818_Eina04-SemiBold.ttf') format('truetype'),
        url('j1575984078818_Eina04-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('j1575984078818_TradeGothicLTStd-Bd2Obl.eot');
    src: url('j1575984078818_TradeGothicLTStd-Bd2Obl.eot%3F') format('embedded-opentype'),
        url('j1575984078818_TradeGothicLTStd-Bd2Obl.woff2') format('woff2'),
        url('j1575984078818_TradeGothicLTStd-Bd2Obl.woff') format('woff'),
        url('j1575984078818_TradeGothicLTStd-Bd2Obl.ttf') format('truetype'),
        url('j1575984078818_TradeGothicLTStd-Bd2Obl.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Eina 04';
    src: url('j1575984078818_Eina04-Regular.eot');
    src: url('j1575984078818_Eina04-Regular.eot%3F') format('embedded-opentype'),
        url('j1575984078818_Eina04-Regular.woff2') format('woff2'),
        url('j1575984078818_Eina04-Regular.woff') format('woff'),
        url('j1575984078818_Eina04-Regular.ttf') format('truetype'),
        url('j1575984078818_Eina04-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eina 04';
    src: url('j1575984078818_Eina04-Light.eot');
    src: url('j1575984078818_Eina04-Light.eot%3F') format('embedded-opentype'),
        url('j1575984078818_Eina04-Light.woff2') format('woff2'),
        url('j1575984078818_Eina04-Light.woff') format('woff'),
        url('j1575984078818_Eina04-Light.ttf') format('truetype'),
        url('j1575984078818_Eina04-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Eina 04 RegularItalic';
    src: url('j1575984078818_Eina04-RegularItalic.eot');
    src: url('j1575984078818_Eina04-RegularItalic.eot%3F') format('embedded-opentype'),
        url('j1575984078818_Eina04-RegularItalic.woff2') format('woff2'),
        url('j1575984078818_Eina04-RegularItalic.woff') format('woff'),
        url('j1575984078818_Eina04-RegularItalic.ttf') format('truetype'),
        url('j1575984078818_Eina04-RegularItalic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('j1575984078818_TradeGothicLTStd-Bd2.eot');
    src: url('j1575984078818_TradeGothicLTStd-Bd2.eot%3F') format('embedded-opentype'),
        url('j1575984078818_TradeGothicLTStd-Bd2.woff2') format('woff2'),
        url('j1575984078818_TradeGothicLTStd-Bd2.woff') format('woff'),
        url('j1575984078818_TradeGothicLTStd-Bd2.ttf') format('truetype'),
        url('j1575984078818_TradeGothicLTStd-Bd2.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eina 04';
    src: url('j1575984078818_Eina04-BoldItalic.eot');
    src: url('j1575984078818_Eina04-BoldItalic.eot%3F') format('embedded-opentype'),
        url('j1575984078818_Eina04-BoldItalic.woff2') format('woff2'),
        url('j1575984078818_Eina04-BoldItalic.woff') format('woff'),
        url('j1575984078818_Eina04-BoldItalic.ttf') format('truetype'),
        url('j1575984078818_Eina04-BoldItalic.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Eina 04';
    src: url('j1575984078818_Eina04-Bold.eot');
    src: url('j1575984078818_Eina04-Bold.eot%3F') format('embedded-opentype'),
        url('j1575984078818_Eina04-Bold.woff2') format('woff2'),
        url('j1575984078818_Eina04-Bold.woff') format('woff'),
        url('j1575984078818_Eina04-Bold.ttf') format('truetype'),
        url('j1575984078818_Eina04-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eina 04';
    src: url('j1575984078818_Eina04-LightItalic.eot');
    src: url('j1575984078818_Eina04-LightItalic.eot%3F') format('embedded-opentype'),
        url('j1575984078818_Eina04-LightItalic.woff2') format('woff2'),
        url('j1575984078818_Eina04-LightItalic.woff') format('woff'),
        url('j1575984078818_Eina04-LightItalic.ttf') format('truetype'),
        url('j1575984078818_Eina04-LightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Eina 04';
    src: url('j1575984078818_Eina04-SemiboldItalic.eot');
    src: url('j1575984078818_Eina04-SemiboldItalic.eot%3F') format('embedded-opentype'),
        url('j1575984078818_Eina04-SemiboldItalic.woff2') format('woff2'),
        url('j1575984078818_Eina04-SemiboldItalic.woff') format('woff'),
        url('j1575984078818_Eina04-SemiboldItalic.ttf') format('truetype'),
        url('j1575984078818_Eina04-SemiboldItalic.svg') format('svg');
    font-weight: 600;
    font-style: italic;
}


/* Table of Content
 ==================================================
 #Page Structure
 #Home Page Style */

* { margin: 0; padding: 0; box-sizing: border-box !important; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; list-style: none; }
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html, body.eu, .eu div, .eu span, .eu applet, .eu object, .eu iframe, .eu h1, .eu h2, .eu h3, .eu h4, .eu h5, .eu h6, .eu p, .eu blockquote, .eu pre, .eu a, .eu abbr, .eu acronym, .eu address, .eu big, .eu cite, .eu code, .eu del, .eu dfn, .eu em, .eu font, .eu img, .eu ins, .eu kbd, .eu q, .eu s, .eu samp, .eu small, .eu strike, .eu strong, .eu sub, .eu sup, .eu tt, .eu var, .eu dl, .eu dt, .eu dd, .eu ol, .eu ul, .eu li, .eu fieldset, .eu form, .eu label, .eu legend, .eu table, .eu caption, .eu tbody, .eu tfoot, .eu thead, .eu tr, .eu th, .eu td, .eu select, .eu input, .eu option { margin: 0; padding: 0; border: 0; outline: 0;}
html { -webkit-text-size-adjust: none; scroll-behavior:smooth;}
.eu article, .eu aside, .eu details, .eu figcaption, .eu figure, .eu footer, .eu header, .eu hgroup, .eu nav, .eu section { display: block }
.eu audio, .eu canvas, .eu video { display: inline-block; }
.eu audio:not([controls]) { display: none; height: 0; }
.eu pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word }
.eu q { quotes: none }
.eu q:before, .eu q:after { content: ''; content: none }
.eu small { font-size: 80% }
.eu sub, .eu sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
.eu sup { top: -0.5em; }
.eu sub { bottom: -0.25em }
.eu nav .eu ul, .eu ol .eu li { list-style: none; list-style-image: none; }
.eu button, .eu input, .eu select, .eu textarea { font-size: 100%; margin: 0; vertical-align: baseline; box-shadow: none;}
.eu textarea { overflow: auto; vertical-align: top }
.eu input[type="button"], .eu input[type="submit"] { -webkit-appearance: none !important; }
:focus { outline: 0; }
.eu caption, .eu th, .eu td { text-align: left; font-weight: normal; }
.eu blockquote:before, .eu blockquote:after, .eu q:before, .eu q:after { content: ""; }
.eu blockquote, .eu q { quotes: "" ""; }
.eu table { border: 0 none; border-collapse: collapse; border-spacing: 0; }
.eu td { vertical-align: top; }
.eu img { border: 0 none; max-width: 100%; vertical-align: top; }
.eu a { outline: none; cursor: pointer; text-decoration: none !important; cursor: pointer; }
.eu a:hover { text-decoration: none; }
.eu a:focus { text-decoration: none !important; outline: none !important; }
.eu .none { display: none; }
.eu .clear { clear: both; }
.eu .cf:before, .cf:after { content: ""; display: table }
.eu .cf:after { clear: both; }
.eu .cf { *zoom:1;}
.eu .text-transform { text-transform: uppercase; }
.eu .break { float: left; width: 100%; }
.eu .preloader { display: none; }


/*Placeholder opacity cross browsers*/
.eu input::-webkit-input-placeholder { color: #ccc; opacity:1;} /* WebKit browsers */
.eu input:-moz-placeholder { color: #ccc; opacity:1;} /* Mozilla Firefox 4 to 18 */
.eu input::-moz-placeholder { color: #ccc; opacity:1;} /* Mozilla Firefox 19+ */
.eu input:-ms-input-placeholder { color: #ccc; opacity:1;} /* Internet Explorer 10+ */
.eu textarea::-webkit-input-placeholder { color: #ccc; opacity:1;} /* WebKit browsers */
.eu textarea:-moz-placeholder { color: #ccc; opacity:1;} /* Mozilla Firefox 4 to 18 */
.eu textarea::-moz-placeholder { color: #ccc; opacity:1;} /* Mozilla Firefox 19+ */
.eu textarea:-ms-input-placeholder { color: #ccc; opacity:1;} /* Internet Explorer 10+ */
.eu button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {border: 0;}



/* #Page Structure
================================================== */
body.eu { margin: 0; padding: 0;  font-size: 16px; background: #ffffff; font-family: 'Eina 04'; }
.eu .wrapper { width: 100%;}
.eu .flw{float: left; width: 100%;}
.eu .main { max-width: 772px; margin: 0 auto; }
.eu a{transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; display: inline-block;}
.eu .container{max-width: 1200px; padding:0 15px; margin:0 auto;}
/* Home Page Style
 ==================================================*/ 
.eu div.title_1,h1, h1 div{color: #002f87; font-size: 48px; line-height: 1.2; font-weight: 600;}
.eu div.title_2,h2, h2 div{ color: #002f87; font-size: 48px; line-height: 1.2; font-weight: 600;}
.eu div.title_3,h3, h3 div{ color: #002f87; font-size: 45px; line-height: 1.2; font-weight: 600;}
.eu div.title_4,h4, h4 div{ color: #002f87; font-size: 40px; line-height: 1.2;  font-weight: 600;}
.eu div.title_5,h5, h5 div{ color: #000000; font-size: 30px; line-height: 1.2; font-weight: 400;}
.eu div.sub-text{line-height: 1.2; margin: 0; font-size: 20px; color: #ffffff;}
.eu .btn a{line-height: 1.2; word-break: break-all; background-color: #002f87; color: #ffffff; padding:12px 5px;  text-align: center; border:2px solid #002f87;  max-width:200px; width: 100%; display: inline-block; vertical-align: middle; border-radius: 0; font-weight: 600;}
.eu .btn a:hover{background-color:#ffffff; color:#002f87;}
.eu .colo-balck{color: #000000;}

/****header-sec***************************************/
.eu .header-sec{background-color: #fff; padding: 23px 0;}
.eu .header-sec .logo-sec{float: left; margin-top: 5px;}
.eu .header-sec .logo-sec img{max-width: 200px;}
.eu .header-sec .contact-btn{float: right; width:15%; text-align: right;}
.eu .header-sec .contact-btn.btn a{min-width: 130px; padding: 8px 5px; }
/****header-sec***************************************/

/****banner-sec***************************************/
.eu .banner-sec{background-size: cover; background-repeat: no-repeat; background-position: center; padding: 9% 0 15%;}
.eu .banner-sec .title_4{margin-bottom: 45px;}
.eu .banner-sec .sub-text{margin-bottom: 38px; color: #000; font-weight: 500;}
.eu .banner-sec .btn a{min-width: 200px; border: 3px solid #002f87; background-color: transparent; color: #002f87; text-align: center; font-size: 20px; padding: 8px 5px;}
.eu .banner-sec .btn a:hover{background-color:#002f87; color: #ffffff; }
.eu .banner-sec .banner-box-content{float: left; max-width: 490px; background:rgba(255,255,255,0.8); padding:60px 50px;}
.eu .form-main{float: right; max-width: 314px; padding:30px 27px 50px; background:rgba(255,255,255,0.8); min-width: 314px;}
.eu .form-main.form-main2 .title_5{margin-bottom: 30px;}
/****banner-sec***************************************/


/**Form******************************************/
.eu form.mktoForm {
	width: 100% !important;
	margin-top: 0;
}

.eu .mktoForm input[type="hidden"]{display: none;}
.eu .mktoForm .mktoFormCol {
	width: 100% !important;
	float: left;
	margin-bottom: 0 !important;
}
.eu .mktoForm .mktoFormRow {
	padding-bottom: 0px !important;
}
.eu .mktoForm .mktoFieldWrap {
	width: 100% !important;
	float: left;
}
.eu .mktoForm input::placeholder,.eu .mktoForm textarea::placeholder{
	color: #000 !important;	
}
.eu .mktoForm input[type="text"], .eu .mktoForm input[type="url"], .eu .mktoForm input[type="email"], .eu .mktoForm input[type="tel"], .eu .mktoForm input[type="number"], .eu .mktoForm input[type="date"], .eu .mktoForm textarea.mktoField, .eu .mktoForm select.mktoField {
	width: 100% !important;
	float: left;
	padding: 10px 5px;
	color: #000000;
	font-size: 15px;
	background-color: transparent;
	 font-family: 'Eina 04';
	font-weight: 500;
	outline: 0 !important;
	border-bottom: 1px solid #000000 !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	height: 35px !important;
    margin-bottom: 20px !important;
}


.eu .mktoOffset {
	width: 0px !important;
}
.eu .mktoForm .mktoGutter {
	width: 0px !important;
}
.eu .mktoForm .mktoLabel {
	color: #000000 !important;
	font-size: 15px !important;
	font-weight: 500 !important;
	 font-family: 'Eina 04' !important;
	padding: 0 0 3px !important;
	width: auto !important;
}
.eu .mktoButtonRow span {
	margin-left: 0px !important;
}
.eu .mktoButtonRow {
	width: 100%;
	text-align: center !important;
	margin-top: 10px !important;
}
.eu .mktoButton {
    background-color: transparent !important;
    background-image: none !important;
    border: 2px solid #002f87 !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    padding: 9px 10px !important;
    color: #002f87 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: 'Eina 04' !important;
    float: none;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    height: 44px !important;
    max-width: 100% !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}
.eu .mktoButton:hover, .eu .mktoButton:focus, .eu .mktoButton.active {
	background-color: #002f87 !important;
	color: #ffffff !important;
	
}
.eu .mktoForm textarea[rows="2"] {
	height: auto !important;
	border: none;
}
.eu .mktoForm .mktoRadioList, .mktoForm .mktoCheckboxList {
	padding: 0 !important;
	float: left;
	width: 100% !important;
	margin: 0 0 0 0 !important;
}
.eu .mktoForm input[type="checkbox"].mktoField + label, .mktoForm input[type="radio"].mktoField + label {
	position: relative !important;
	cursor: pointer !important;
	padding-left: 30px !important;
	width: auto !important;
	margin: 0 !important;
	line-height: 22px !important;
	font-size: 12px !important;
	color: #fff !important;
	font-family: 'Eina 04' !important;
	font-weight: 900 !important;
	float: left;
	clear: both;
	font-style: normal !important;
}
.eu .mktoForm input[type="checkbox"].mktoField {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -99999;
	height: 0;
	padding: 0 !important;
	border: 0px;
}
.eu .mktoForm input[type="checkbox"].mktoField:not(old) + label {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	width: auto;
}
.eu .mktoForm input[type="checkbox"].mktoField:not(old) + label {
	position: relative;
	left: 0;
	top: 0;
	content: '';
	width: 16px;
	height: 16px;
	background-image: url(j1575984078818_checkoff.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	background-size: 16px;
	height: inherit !important;
	color: #000 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
	line-height: 1.5 !important;
}
.eu .mktoForm input[type="checkbox"].mktoField:not(old):checked + label {
	background-image: url(j1575984078818_checkon.png);
}
.eu .mktoForm input[type="radio"].mktoField {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -99999;
}
.eu .mktoForm input[type="radio"].mktoField:not(old) + label {
	position: relative;
	cursor: pointer;
	padding-left: 38px;
	margin-bottom: 0 !important;
	width: auto;
}
.eu .mktoForm input[type="radio"].mktoField:not(old) + label {
	position: relative;
	left: 0;
	top: 0;
	content: '';
	width: 16px;
	height: 16px;
	background-image: url(j1575984078818_radioof.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	background-size: 16px;
	height: inherit !important;
	color: #000 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
}
.eu .mktoForm input[type="radio"].mktoField:not(old):checked + label {
	background-image: url(j1575984078818_radioon.png);
}
.eu .mktoForm .mktoFieldWrap .mktoError .mktoErrorArrowWrap {
	display: none;
}
.eu .mktoForm .mktoRequiredField .mktoAsterix {
	display: none !important;
}

.eu .mktoForm select.mktoField{
	background: transparent url("j1575984078818_select-arrow-img.png") no-repeat 99% center;
	background-size: 18px;
	padding-top: 5px;
	-webkit-appearance:none;
	-ms-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
}

/**Form******************************************/
.eu .section9-6-tile-widgets strong{min-height: 21px;}
.eu .section9-6-tile-widgets .sub-text-small{min-height: 132px;}
.eu .section9-6-tile-widgets .sec9-6-tile-widgets-main .sec9-6-tile-widgets-inner{min-height: 347px;}
.eu .sec10-iconography-sec .iconography-main strong{min-height: 24px;}
.eu .sec10-iconography-sec .iconography-main .sub-text-small{min-height: 66px;}

/****video_section*********************************************/
.eu .video_section {padding: 70px 0; background-color: #ffffff;}
.eu .video_section .video_main{float: left; width: 70%;}
.eu .video_section .video-sec-form{float: right; width: 30%; background-color: #f4f4f4;}
.eu .video_section .video-area{margin:0;max-width: 750px;}	
.eu .video_section .video-area .right-inner-bottom {position: relative; margin-top: 0; width: 100%;}
.eu .video_section .right-inner-bottom .video-container {background-repeat: no-repeat; background-position:  center center; background-size:  cover; float: left; height: 100%; width: 100%; }
.eu .video_section .video-control {display: inline-block; position: absolute; z-index: 9; transform: translate(-50%, -50%); left: 50%; top: 50%; }
.eu .video_section .right-inner-bottom img {cursor: pointer; position: relative; width: 102px; }
.eu .video_section .right-inner-bottom,.eu .video_section .right-inner-bottom iframe {height: 427px; }
.eu .video_section .right-inner-bottom iframe {position: relative; width: 100%; z-index: 9999999; }
.eu .video_section .section4-img {bottom: 120px; left: 131px; position: absolute; }
.eu .video_section .video-content{margin-top: 50px;}
.eu .video_section .video-content .btn a{ padding: 12px 8px;  font-size: 27px; margin-top: 45px;}
/****video_section*********************************************/

/****banner-sec3*********************************************/
.eu .banner-sec3{position: relative;}
.eu .banner-sec3 .container{position: relative; z-index: 4;}
.eu .banner-sec3 .title_5{margin-bottom: 25px;}
.eu .banner-sec3:after{content: ""; position: absolute; left: 0; top: 0; width: 50%; height: 100%; background-image: url("j1575984078818_banner-af-img.png"); background-repeat: no-repeat; background-position: right; background-size: cover; } 
.eu .banner-sec3 .linked-btn a{color:#002f87; font-size: 22px; font-weight: 600; border-bottom: 3px solid #002f87; padding:2px 0;}
.eu .banner-sec3 .linked-btn a:hover{border-color: transparent;}
.eu .banner-sec3 .banner-box-content{background-color: transparent; padding: 0 10px;}
.eu .banner-sec3 .btn a {min-width: 200px; padding: 12px 8px; font-size: 27px; margin-top: 45px; background-color: #002f87; color: #fff;}
.eu .banner-sec3 .btn a:hover{ background-color:transparent; color: #002f87;}
.eu .banner-sec3 .title_2{margin-bottom: 25px;}
/****banner-sec3*********************************************/

/****navigation-sec*********************************************/
.eu .navigation-sec{padding: 15px 0; background-color:#ffffff; border-top: 2px solid #c6c6c6; border-bottom: 2px solid #c6c6c6; }
.eu .navigation-sec .navigation-main{float: left; width: 80%;}
.eu .navigation-sec .navigation-main ul li{display: inline-block; vertical-align: middle; margin-right: 1%;}
.eu .navigation-sec .navigation-main ul li a{display: inline-block; vertical-align: middle; font-size: 12px; color: #002f87; text-transform: uppercase; font-weight: 600;}
.eu .navigation-sec .navigation-main ul li a:hover img{transform: rotate(180deg);}
.eu .navigation-sec .navigation-main ul li a:hover{opacity: 0.8;}
.eu .navigation-sec .navigation-main ul li a img{max-width: 12px; margin-left:12px; display: inline-block; vertical-align: middle; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s;} 
.eu .navigation-sec .right-btn{float: right; width: 15%; text-align: right;}
.eu .navigation-sec .right-btn a{min-width: 140px; padding: 8px 5px; font-size: 12px;}
/****navigation-sec*********************************************/

/****section6-paragraph2*********************************************/
.eu .section6-paragraph2{padding:80px 0 40px; background-color: #ffffff;}
.eu .section6-paragraph2 .section6-main{ margin-bottom:50px; text-align: center;}
.eu .section6-paragraph2 .sub-text{color: #000;width:80%;}
.eu .section6-paragraph2 .title_3{margin-bottom: 20px;}
.eu .section6-paragraph2 .title_4{margin-bottom: 25px;}
.eu .section6-paragraph2 .paragraph2-left{ float: left; width: 100%; text-align: left;}
.eu .section6-paragraph2 .paragraph2-right{ float: right; width: 100%; text-align: left;}
/****section6-paragraph2*********************************************/

/****sec7-paragraphs-with-img*********************************************/ 
.eu .sec7-paragraphs-with-img{padding: 60px 0 140px; background-color: #ffffff;}
.eu .sec7-paragraphs-with-img .title_4{margin-bottom: 25px;}
.eu .sec7-paragraphs-with-img .sub-text{color: #000;}
.eu .sec7-paragraphs-with-img .paragraphs-with-img-main.mar_b{margin-bottom: 150px;} 
.eu .sec7-paragraphs-with-img .paragraphs-with-img-main .sec7-left{float: left; width: 47%;}
.eu .sec7-paragraphs-with-img .paragraphs-with-img-main .sec7-right{float: right; width: 47%;}
/****sec7-paragraphs-with-img*********************************************/

/****section8-slider-sec*********************************************/
.eu .section8-slider-sec{background-color: #f5f5f5; padding: 100px 0 60px;}
.eu .section8-slider-sec .title_3{margin-bottom: 25px; padding-left: 25px;}
.eu .section8-slider-sec .title_5{ padding-left: 25px;}
.eu .section8-slider-sec .sec8-main-slider-sec{padding:0 15px; margin: 60px 0 0;}
.eu .section8-slider-sec .sec8-main-slider-sec strong{font-size: 18px; line-height: 1.2; display: block; margin-bottom: 12px;}
.eu .section8-slider-sec .sec8-main-slider-sec .sub-text-small{color: #000; font-size: 16px;}
.eu .section8-slider-sec .sec8-main-slider-sec .slick-slide{padding:0 15px !important;}
.eu .section8-slider-sec .sec8-main-slider-sec .sec8-slider-inner{background-color: #fff; padding: 55px 20px 30px; border-top: 8px solid #002f87; min-height: 192px;}
.eu .section8-slider-sec .slick-arrow{background:url(j1575984078818_slider-arrow.png); position: absolute; background-repeat: no-repeat; background-size: cover; left: 0; top: 43%; background-size: 100%; width: 10px; height:28px; border: none; box-shadow: none; padding: 0; font-size: 0; line-height: 0; cursor: pointer; }
.eu .section8-slider-sec .slick-arrow.slick-next {left: auto ; right: 0; transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); -moz-transform: rotate(180deg); }
/****section8-slider-sec*********************************************/

/****section9-6-tile-widgets*********************************************/
.eu .section9-6-tile-widgets{background-color:#f5f5f5; padding:  60px 0;}
.eu .section9-6-tile-widgets .title_3{margin-bottom: 25px; padding-left: 15px;}
.eu .section9-6-tile-widgets .title_5{ padding-left: 15px;}
.eu .section9-6-tile-widgets strong{font-size: 18px; line-height: 1.2; display: block; margin-bottom: 12px;}
.eu .section9-6-tile-widgets .sub-text-small{color: #000; font-size: 16px;}
.eu .section9-6-tile-widgets .sec9-6-tile-widgets-main{display: block; margin-top: 65px; }
.eu .section9-6-tile-widgets .sec9-6-tile-widgets-main .sec9-6-tile-widgets-inner{display: inline-block; vertical-align: top; width: 31%; background-color: #fff;  border-top: 9px solid #002f87;  padding: 55px 40px; margin: 1%;  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0,0.1);   box-shadow: 2px 5px 10px rgba(0, 0, 0,0.1); }
.eu .section9-6-tile-widgets .sec9-6-tile-widgets-main .sec9-6-tile-widgets-inner .sec9-6-tile-widgets-img img{max-width: 65px;}
.eu .section9-6-tile-widgets .sec9-6-tile-widgets-main .sec9-6-tile-widgets-inner .sec9-6-tile-widgets-img{margin-bottom: 15px;}
/****section9-6-tile-widgets*********************************************/

/****sec10-iconography-sec*********************************************/
.eu .sec10-iconography-sec{padding: 60px 0 120px; background-color:#f5f5f5;}
.eu .sec10-iconography-sec .title_3{margin-bottom: 25px;}
.eu .sec10-iconography-sec .iconography-main{display: block; margin:100px 0 0;}
.eu .sec10-iconography-sec .iconography-main .iconography-inner{display: inline-block; vertical-align: middle; width: 32.33%; text-align: center; margin-bottom: 130px; }
.eu .sec10-iconography-sec .iconography-main .iconography-inner .iconography-inner-content{max-width: 270px; margin:0 auto;}
.eu .sec10-iconography-sec .iconography-main strong{font-size: 20px; line-height: 1.2; display: block; margin-bottom: 12px;}
.eu .sec10-iconography-sec .iconography-main .sub-text-small{color: #000; font-size: 16px;}
.eu .sec10-iconography-sec .linked-btn a{border-bottom: 1px solid #54a8f3; color: #54a8f3; font-size: 15px; font-weight: 600; text-transform: uppercase; padding-bottom: 2px; margin-top: 18px;}
.eu .sec10-iconography-sec .linked-btn a:hover{border-color: transparent;}
.eu .sec10-iconography-sec .iconography-main .iconography-inner .iconography-inner-img{margin-bottom:25px;}
.eu .sec10-iconography-sec .iconography-main .iconography-inner .iconography-inner-img img{max-width: 100px;}
.eu .sec10-iconography-sec .iconography-main{text-align: center;}
.eu .sec10-iconography-sec .iconography-main .btn a{background-color: transparent; color: #002f87;}
.eu .sec10-iconography-sec .iconography-main .btn a:hover{background-color: #002f87; color: #fff;}
/****sec10-iconography-sec*********************************************/

/****sec11-video-sec*********************************************/ 
.eu .sec11-video-sec{padding:40px 0;}

.eu .sec11-video-sec .title_3{margin-bottom: 25px;}
.eu .sec11-video-sec .video-area{margin:0;max-width: 100%;}	
.eu .sec11-video-sec .video-area .right-inner-bottom {float: left; position: relative; margin-top:50px; width: 100%; }
.eu .sec11-video-sec .right-inner-bottom .video-container {background-repeat:  no-repeat; background-position:  center center; background-size:  cover; height: 100%; width: 100%; }
.eu .sec11-video-sec .video-control {display: inline-block; position: absolute; z-index: 9; transform: translate(-50%, -50%); left: 50%; top: 50%; }
.eu .sec11-video-sec .right-inner-bottom img {cursor: pointer; position: relative; width: 250px; }
.eu .sec11-video-sec .right-inner-bottom, .eu .sec11-video-sec .right-inner-bottom iframe {height: 470px; }
.eu .sec11-video-sec .right-inner-bottom iframe {position: relative; width: 100%; z-index: 9999999; }
.eu .sec11-video-sec .section4-img {bottom: 120px; left: 131px; position: absolute; }

/****sec11-video-sec*********************************************/

/****sec12-photo-widgets-sec*********************************************/
.eu .sec12-photo-widgets-sec{padding: 100px 0 150px;}
.eu .sec12-photo-widgets-sec .title_3{margin-bottom: 25px; padding-left: 12px;}
.eu .sec12-photo-widgets-sec .title_5{padding-left: 12px;}
.eu .sec12-photo-widgets-sec .photo-widgets-main{margin-top: 65px;}
.eu .sec12-photo-widgets-sec .photo-widgets-main .photo-widgets-inner{display: inline-block; vertical-align: top; width: 32.8%; margin-bottom: 45px; padding: 10px;}
.eu .sec12-photo-widgets-sec .photo-widgets-main .photo-widgets-inner .photo-widgets-inner-img {position: relative; width: 100%; overflow: hidden; height: 100%; padding-bottom: 62%; } 
.eu .sec12-photo-widgets-sec .photo-widgets-main .photo-widgets-inner .photo-widgets-inner-img img{position: absolute; top: 0; left: 0; object-fit: cover; width: 100%;}
.eu .sec12-photo-widgets-sec .photo-widgets-main .photo-widgets-inner .linked-text a{color: #000000; font-size: 18px; font-weight: 600; line-height: 1.2; margin-bottom: 12px;}
.eu .sec12-photo-widgets-sec .photo-widgets-main .photo-widgets-inner .linked-btn a{color: #8b8b8b; font-size: 12px; letter-spacing: 2px; text-transform: uppercase; font-weight:600;}
.eu .sec12-photo-widgets-sec .photo-widgets-main .photo-widgets-inner  a:hover{color: #489ef3;}
.eu .sec12-photo-widgets-sec .btn{display: inline-block; min-width: 210px; vertical-align: top; margin-left: 2%;}
.eu .sec12-photo-widgets-sec .button-sec{text-align: center; margin-top: 45px;}
.eu .sec12-photo-widgets-sec .button-sec .btn a{background-color: transparent; color:#002f87;}
.eu .sec12-photo-widgets-sec .button-sec .btn a:hover{background-color:#002f87; color:#ffffff;}
/****sec12-photo-widgets-sec*********************************************/

/****Footer-sec*********************************************/
.eu .footer-sec{padding: 100px 0;}
.eu .footer-sec .footer-top{border-bottom: 2px solid #fff; margin-bottom: 25px; padding-bottom: 25px;} 
.eu .footer-sec .footer-top .footer-top-content{float: left;}
.eu .footer-sec .footer-top .footer-top-logo{float: right;}
.eu .footer-sec .footer-top .footer-top-content .sub-text-small{margin-bottom: 5px; color: #ffffff; font-size: 18px;}
.eu .footer-sec .footer-top .footer-top-logo img{max-width: 250px;}
/**************************************/
/*.eu .footer-sec .footer-bootm{} */
.eu .footer-sec .footer-bootm .footer-bottom-content{float: left;}
.eu .footer-sec .footer-bootm .footer-social-icon{float: right;}
.eu .footer-sec .footer-bootm .footer-bottom-content ul li{display: inline-block; vertical-align: middle; margin-right:55px;}
.eu .footer-sec .footer-bootm .footer-bottom-content ul li a{color: #fff; font-size: 16px; font-weight: 500;}
.eu .footer-sec .footer-bootm .footer-bottom-content ul li a:hover{text-decoration: underline !important; }
.eu .footer-sec .footer-bootm .footer-social-icon ul li{display: inline-block; vertical-align: middle; margin-left: 8px;}
.eu .footer-sec .footer-bootm .footer-social-icon ul li a:hover{opacity: 0.8;}
.eu .footer-sec .footer-bootm .footer-social-icon ul li img{max-width: 40px;}

/****Footer-sec*********************************************/

.eu .mktoGen.mktoImg {display: inherit !important; line-height: inherit !important; }

.eu .section8-slider-sec .sec8-main-slider-sec .sec8-slider-inner { min-height:192px; }
.eu .section9-6-tile-widgets .sub-text-small { min-height:132px; }
.eu .section8-slider-sec .sec8-main-slider-sec .sub-text-small{ min-height:150px; }
.eu .btn a{ min-width:200px; max-width:100%; width:auto; }
.eu .photo-widgets-inner-img{ margin-bottom:20px; height:205px; background-size:cover; background-position:center center; background-repeat:no-repeat; }